# DATABASE
# if localhost:
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
# if docker:
# DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
DATABASE_URL=DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# SECRET
SECRET_KEY=

# ADMIN CREDENTIALS
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Cloudinary 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=