version: '3'

services:
  db:
    image: postgres:16.4-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.dev
    env_file:
      - ./env/.env.dev
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - db

volumes:
  pgdata: {}
